.wrapper-mobile{
    .background{
        width: 100%;
        height: 490px;
        background-image: url(/assets/wellthy_bg_small.png);
        background-repeat: no-repeat;
        background-size: contain
    }

    .logo-wrapper{
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        margin: 30px 0;

        .wellthy-icon{
            width: 150px;
            height: 50px;
            background-image: url(/assets/wellthy_logo.png);
            background-repeat: no-repeat;
            background-size: contain;
        }
    }

    .download-text{
        font-size: 22px;
        font-weight: bold;
        width: 70%;
        text-align: center;
        margin: 0 auto;
        line-height: 1.5;
    }

    .app-store-wrapper{
        display: flex;
        justify-content: center;
        margin-top: 30px;
        padding-bottom: 60px;

        .android-icon{
            width: 200px;
            height: 56px;
            background-image: url(/assets/google-play-badge.png);
            background-repeat: no-repeat;
            background-size: contain;
            border-radius: 5px;
        }

        .ios-icon{
            width: 170px;
            height: 47px;
            background-image: url(/assets/app-store-badge.png);
            background-repeat: no-repeat;
            background-size: contain;
            border-radius: 5px;
        }
    }
    
}