<ng-container *ngIf="platform.ANDROID || platform.IOS">
  <div class="wrapper-mobile">
    <div class="background"></div>

    <div class="logo-wrapper">
      <div class="wellthy-icon"></div>
    </div>

    <div class="download-text">
      Download and install the app to get all details
    </div>

    <div class="app-store-wrapper">
      <ng-container *ngIf="platform.ANDROID">
        <div class="android-icon" (click)="goTo('https://play.google.com/store/apps/details?id=wellthy.care')"></div>
      </ng-container>
      
      <ng-container *ngIf="platform.IOS">
        <div class="ios-icon"  (click)="goTo('https://apps.apple.com/in/app/wellthy-care/id1382566710')"></div>
      </ng-container>
    </div>
  </div>
</ng-container>